*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-weight: 800;
    --color_dark_1: rgb(11, 20, 36);
    --color_dark_2: rgb(32, 47, 79);
    --color_light_1: rgb(255, 255, 255);
    --color_light_2: rgb(112, 198, 255);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, var(--color_dark_1), var(--color_dark_2));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 0px 0px 3px black;
    width: 100%;
}
a, a:visited, h1, p{
    text-decoration: none;
    color: white;
}
.title_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}
.title_name{
    font-size: 3.8em;
    transform: translateY(12.5px);
    color: var(--color_light_2);
    transition: all 200ms ease-in-out;
}
.title_info{
    position: absolute;
    bottom: -5%;
    right: 3%;
    font-size: 18px;
}
.span_developer{
    color: var(--color_light_2);
}
.main_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    min-width: 550px;
    margin-top: 3em;
}
.main_container:before{
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
}
.all_websites_container{
    position: relative;
    display: grid;
    grid-template-columns: 53% auto;
    grid-template-areas: 
    "salvation memory"
    "scheduling memory"
    "secure_signup secure_signup";
    height: 70vh;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 3px white,
    0px 2px 20px rgba(0,0,0,0.6);
    border-radius: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* scrollbar stuff */
    scrollbar-color: var(--color_light_2) var(--color_dark_1);
    scrollbar-width: auto;
}
.all_websites_container::-webkit-scrollbar {
    width: 1em;
    background-color: red;
  }
.all_websites_container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10em;
    height: auto;
    margin: 15px;
    border-radius: 15px;
    padding: 2%;
    box-shadow: inset 0px 0px 3px var(--color_light_1),
    1px 3px 10px black;
    opacity: 0.7;
    z-index: 1;
    transition: all 250ms ease;
}
.all_websites_container>div:hover{
    cursor: pointer;
    opacity: 1;
    transform: translate(5px, -5px);
    box-shadow: inset 0px 0px 3px var(--color_light_1),
    -5px 5px 10px black
}
.salvation_container{
    grid-area: salvation;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(214, 22, 22, 1));
}
.memory_container{
    grid-area: memory;
    background: linear-gradient(0deg, rgba(47, 120, 59, 1), rgba(161, 95, 33, 01));
}
.scheduling_container{
    grid-area: scheduling;
    background: linear-gradient(0deg, rgba(231, 231, 231, 1), rgba(19, 132, 51, 1));
}
.signup_container{
    grid-area: secure_signup;
    background: linear-gradient(0deg, rgba(192, 57, 152, 1), rgba(143, 39, 164, 1));
}
.project_name{
    transition: all 300ms ease-in-out;
}
.project_info_container{
    display: none;
    transition: all 500ms ease-in-out;
}
.footer{
    display: flex;
    justify-content: flex-end;
    width: 45%;
    min-width: 550px;
}
/* ===social media=== */
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    width: 17%;
}
/* ===Project popup=== */
.project_popup{
    position: absolute;
    margin: auto;
    width: 70%;
    height: 650px;
    top: 5%;
    display: none;
    box-shadow: inset 0px 0px 10px var(--color_light_1);
    background-color: rgba(32, 47, 79,0.8);
    border-radius: 20px;
    z-index: 2;
}
.project_popup:hover{
    display: block;
}
.project_popup_title{
    width: 100%;
    padding: 5%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(90deg, var(--color_dark_1), var(--color_dark_2));
}
/* ===font awesome=== */
.fa-brands, .fa-solid{
    color: white;
    font-size: 1.6em;
    transition: all 150ms ease-in-out
}
.fa-brands:hover, .fa-solid:hover{
    color: var(--color_light_2);
    transform: scale(1.2);
}